      /* Spécifiques à #single-pages */
      #single-pages main {
        height: calc(100vh - 5rem);
        overflow: hidden;
    }

    #single-pages footer {
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    @media screen and (max-height: 640px) {
        #single-pages h1 {
            font-size: 5rem;
            min-width: 15rem;
        }
        #single-pages h4 {
            min-width: 19rem;
            font-size: 3.3rem;
        }
    }

    @media (max-width: 815px), (max-height: 445px) {
        #single-pages main {
            height: calc(100vh - 5.5rem);
        }

        #single-pages h1 {
            font-size: 3.6rem;
        }
    }

    @media (max-width: 815px) and (min-height: 400px){
        #single-pages main {height: fit-content;}
        #single-pages h1 {font-size: 4rem;}
        #single-pages h4 {
            font-size: 3.3rem;
            min-width: 19rem;
        }
    }